[project]
	description = Multiplatform app for reporting POIs. Take photo, choose type, report. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nikolai Aleksandrenko (aleksandrenko)
[access "refs/for/refs/*"]
	read = group user/Nikolai Aleksandrenko (aleksandrenko)
	push = group user/Nikolai Aleksandrenko (aleksandrenko)
	label-Code-Review = -2..+2 group user/Nikolai Aleksandrenko (aleksandrenko)
	label-Verified = -1..+1 group user/Nikolai Aleksandrenko (aleksandrenko)
	rebase = group user/Nikolai Aleksandrenko (aleksandrenko)
	removeReviewer = group user/Nikolai Aleksandrenko (aleksandrenko)
	submit = group user/Nikolai Aleksandrenko (aleksandrenko)
[access "refs/heads/*"]
	read = group user/Nikolai Aleksandrenko (aleksandrenko)
	create = group user/Nikolai Aleksandrenko (aleksandrenko)
	push = +force group user/Nikolai Aleksandrenko (aleksandrenko)
	pushMerge = group user/Nikolai Aleksandrenko (aleksandrenko)
[access "refs/tags/*"]
	push = +force group user/Nikolai Aleksandrenko (aleksandrenko)
	pushTag = group user/Nikolai Aleksandrenko (aleksandrenko)
	pushSignedTag = group user/Nikolai Aleksandrenko (aleksandrenko)
