/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
strong,
ul,
li,
form,
label. footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* */

body {
  background: #666;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

._temp-nav {
  position: fixed;
  top: 30px;
  right: -200px;
  padding: 20px;
  background: #eee;
  border: solid 1px #aaa;
}

.app {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 320px;
  height: 640px;
  border: solid 1px;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.app-header {
  height: 40px;
  background: #eee;
}

/* nav active */
a.active {
  color: red;
}

.app-body {
  flex: 1;
  background: #fff;
}

.app-footer {
  height: 40px;
  background: #eee;
  position: relative;
}

/* */

.app-footer-nav {
}

.app-footer-nav > ul {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.app-footer-nav > ul > li {
  flex: 1;
}

/* */

.app-header {
  position: relative;
}

.app-header > nav > ul {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
}

.app-header > nav > ul > li {
  flex: 1;
}
